body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    transition: background 0.3s, color 0.3s;
}

.dark-mode {
    background: #121212;
    color: white;
}

/* Estilos del formulario */
form {
    margin-top: 20px;
}

input {
    padding: 8px;
    margin: 5px;
}

/* Estilos del botón de modo oscuro */
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}
